</main>
    <div id="wrapper">
        @Html.Partial("~/Views/Shared/LayoutUser/Header.cshtml")
        <div class="container">
            @RenderBody()
        </div>
        @Html.Partial("~/Views/Shared/LayoutUser/Header.cshtml")
    </div>
</body>
</html>